.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-collapse{
    border-color: #fff;
}


@media only screen and (max-width: 767px) {
    $ftitlesize: 30px;
    $maxsizetxt:400px;
    $mTopBody: 46px;
    $containerWidth: 620px;
    
    body {
        margin-top: $mTopBody;
    }
    
    .title_dest{
        font-size: $ftitlesize;
    }
    .container {
        width: 100%;     
    }
    .btn-mult{
        padding: 10px 18px;
        font-size: 18px;
        width: $maxsizetxt;
    }
    
    .navbar {
        min-height: $mTopBody;
        margin-bottom:0;
    }

    .navbar-brand{    
        padding: 10px 12px;
        img{width: 148px;}
    }
    
    .container-nav{
        max-width: $containerWidth;   
    }
    
//    .thumbnail{
//        margin: 0px;
//        padding: 0px;
//        
//        img{
//            max-width: 60px;
//            margin: 0px;
//            padding: 0px;
//            position: absolute;
//        }
//        .caption{
//            text-align: left;
//            margin: 0px;
//            padding: 0px;
//            max-width: 200px;
//            float: right;
//            margin-right: 20px;
//            h3{ 
//                font-size: 20px;
//                margin-top: 0px;
//            }
//        }
//    }
    .thumbnail{
        max-width: 250px;
        margin: 10px 0px 0px 50px;
        padding: 10px 0px 10px 0px;
        left: -40px;
//        
        img{
            max-width: 70px;
            margin: 0px;
            padding: 0px;
            position: absolute;
        }
        .caption{
            text-align: left;
            margin: 0px;
            padding: 0px;
            max-width: 200px;
            float: right;
            margin-right: 20px;
            p { 
                width:270px;
                padding-left: 50px;
            }
            h3{ 
                font-size: 20px;
                margin-top: 0px;
                padding-left: 50px;
            }
        }
    }
    .navbar-toggle{
        border: 2px solid transparent;
    }
    .navbar-default  {
        .navbar-toggle{
            border-color: #2082c3;
            padding: 8px 3px;    
//            border: 2px solid transparent;
            .icon-bar {
                background-color: #2082c3;    
                width: 20px;
            }
        }
    }
    
    
    #inicio {
        background-image: url("../images/banner-bg-640.jpg");
        height: 637px;
        p{
            padding-top: 0px;
            
//            font-size: 20px;
            font-size: 16px;
            text-align: center;
            max-width: $maxsizetxt;
            float: none;
        }

        .title{
            padding-top: 200px;
            font-size: $ftitlesize;
            text-align: center;
            max-width: $maxsizetxt;
            float: none;
        }

        .btn-mult{
            float: none;
            margin-left: auto;
            margin-right:auto;
        }
    }
//    end inicio
    
    #diferencial {
        height: 570px;
//        height: 860px;
        
        .container{
            padding-top: 38px;
            max-width: 640px;
        }
        
        .title_dest{
            font-size: $ftitlesize - 4px;
            margin-bottom: 0;
            max-width: $containerWidth - 60px;
        }
        
        
        #garantia {
            hr{box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);}
            .container{
                padding-top: 10px; 
                max-width: 550px;
                .media-left{
                    padding-left: 10px;                    
                }  
                .media-body{
                    padding-top: 10px;
                    padding-left: 10px;
                    p{
                        font-size:13px;
                    }     
                }
                    
            }
            
        }
    }
    
    #oq_faz {
        background-image: url("../images/oq-faz-bg-640.jpg");
        height: 324px;
        .title_dest{text-align: center; font-size: $ftitlesize;}
        .container{
            padding-top: 40px;    
        }

        .txt_body {
            font-family: 'open_sansregular';
            font-size: 18px;
            max-width: 480px;
            text-align: center; 
            padding-top: 0px;
            float: none;
            span{
                font-family: 'open_sansbold';
            }
        }
        .btn-mult{
            width: 480px;
            padding: 12px 25px;
            float: none;
            margin-left: auto;
        }

    }
    
    #produtos{
        .title_dest{font-size: $ftitlesize - 2px;}
        height: 910px;
        #quad_bg{
            width: 100%;
            height: 180px;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 94%, 48% 100%, 0 100%);
            -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 94%, 48% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 94%, 48% 100%, 0 100%);
            text-align: center;
            color: white;
            .container{ 
//                max-width: 530px; 
            }
            p{
                font-family: 'open_sansregular';
                font-size: 16px;
            }
            .title{
                font-family: 'poppinsbold';
                font-size: $ftitlesize - 2px;
            }
        }
        
        #bg_img_planos{
            background-size: cover;
            height: 252px; 
            margin-top: -11px;
        }
        
        .start_bg{background-image: url("../images/planos-start-bg-640.jpg");}
        .pro_bg{background-image: url("../images/planos-pro-bg-640.jpg");}
        
        
        .quad_start {
            background-color: #0075be;
            .container { 
                padding-top: 40px;
                max-width: 530px; 
            }
        } 
        .quad_pro {
            background-color: #00396d;
            .container { 
                padding-top: 30px;
                max-width: 580px; 
            }
        }
        
        .pro_bg {
            background-image: url("../images/planos-pro-bg.jpg");
        }
        
    }
    
    #sobre {
        height: 1005px;
        .container{
            margin-top: 0px;
            max-width: 630px;
            .title_dest{
                font-size: $ftitlesize;
                max-width: $maxsizetxt + 100px;
            }
            #vd_f{
                img{ padding-top: 132px;}
            }
            
            #vd_s{
                margin-top: 20px;
                img{ padding-top: 42px;}
            }
            
            #txt_com {
                margin-top: 20px;
                height: 272px;
                max-width: 540px;
                .title_dest{
                    left: 18px;
                }
                div.txt{left: 0;}
            }
            
        }
        
    }
    
    #contato{
        .container{
            max-width: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        p{
            font-size: 18px;
            text-align: center;
            max-width: 540px;
        }
        .title_dest{
            font-size: 30px;
            
            span.aspas{
                 font-size: 22px;   
            }
        }
        
        form{
            
            padding-top: 20px;
            max-width: 359px;
            
            textarea[type="text"], input[type="text"]{
                font-size: 16px;
            }
            span {
                font-size: 12px;
                padding-bottom: 10px;
            }
            textarea[type="text"]{height: 75px; margin-bottom: 25px; }
            input[type="text"]{height: 45px;margin-bottom: 0px;}            
            .wtxt{width: 340px;}
            
        }
        #msgEnviado {
            width: 360px;
            p {
                font-size: 18px;
            }
            .title {
                font-size: 25px;
            }
        }
    }
    
    
    #popup{
        width: 100%;        
        #inside{
            width:100%;
            height: 850px;
            .pop-left{
                float: none;
                max-width: 430px;
                margin: 19px 0px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                #manual{width: 270px}
                #selo{margin-left: 5px; padding: 0;}
            }

           .pop-right{
               float: none;
               max-width: 100%;

                .btn-mult{
                    width: 100%;
                }
            }
            p {max-width: 100%; font-size: 32px;}
            span.p2{font-size: 32px;}
        }
        
        #closePopup {
            display: block;
            left: 92%;
            right: 8%;
        }
        
        #cadeado{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 80px;
            width: 410px;
            img{padding-top: 0;}
            p{
                
                font-size: 13px;
                width: 340px;
                padding-top: 4px;
                
            }
        }
        
        #msgEnviado{
            width: 340px;
            p{
                font-family: 'open_sanssemibold'; 
                filter: none; 
                font-size: 18px;
                margin-top: 0px;
                width: 100%;
            }
            p.title{
                font-size: 25px;
                margin-top: 20px;
            }
            .btn-mult{margin-top: 30px;}
        }
    }
    
//    $ftitlesize: 30px;
//    $maxsizetxt:400px;
//    $mTopBody: 46px;
//    $containerWidth: 620px;
    
    
    .footer{
        .info-lg{ display: none;}
        .info-xs{ display: block;}
        .links{
            width: 100%;
            position: inherit;
            right: 0;
            text-align: center;
            font-size: 13px;
            #add {
                span {
                    padding: 0px 20px;
                }
            }
            
        }
        .contatos{
            width: $containerWidth;
            padding: 10px 0px 15px 0;
            
            p{
                color: #8c8c8c;
                font-family: 'open_sanssemibold';
                width: 100%;
                text-align: center;
                line-height: 11px;
                a{font-size: 13px;}
            }
        }
        .roda{
            width: $containerWidth;
            margin-top: 0px;
            text-align: center;
            p{width: $containerWidth;}
        }
        
        
    }
}