$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$ftitlesize: 30px;
$mTopBody: 84px;
$containerWidth: 920px;

body {
    padding: 0;
    margin-top: $mTopBody;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
//  padding-left: 15px;
//  padding-right: 15px;
}

/* Custom page header */
.header {
//    height: 100px;
//  border-bottom: 1px solid #e5e5e5;
//  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.jumbotron {
    padding: 0;
    margin-bottom: 0;
    .container{
        max-width: 800px;    
    }
}

.navbar {
    min-height: $mTopBody;
    margin-bottom:0;
}

.navbar-brand{    
    padding: 26px 15px;    
}
.navbar-nav{
    padding: 20px 15px;
    li{
        a{
            font-family: 'poppinsmedium';
        }
    }
}
.container-nav{
    max-width: $containerWidth;   
}
/* .container-body{
    max-width: 800px;   
}
 */
.thumbnail{
    background-color: transparent;
    border:0;
    img{max-height: 81px;}
    .caption{
        padding-top: 0;
        text-align: center;
        
        h3{
            font-family: 'poppinsbold';
            font-size: 19px;//25px;
            color: #102c42;
        }
        p{
            font-family: 'open_sansregular';
            font-size: 15px;
            color: #424445;
        }
    }
}

.btn-mult{
    font-family: 'poppinssemibold';
    color: #fff;
    font-size: 18px;
    background-color: #0c599f;
    border: 1px solid #298fce;
    box-shadow: 0px 0px 1px 4px rgba(0, 0, 0, 0.3); 
    padding: 12px 80px;
    border-radius: 4px;
}
.btn-mult:hover{
    background-color: #298fce;
}


.title_dest {
    font-family: 'poppinslight';
    span{font-family: 'poppinssemibold';}
    font-size: $ftitlesize;
}

.left50{float:left; width:50%;}

.backgroundImgConf{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



#inicio{
    background-image: url("../images/banner-bg.jpg");
    .container{max-width: $containerWidth;}
    height: 701px;
    
    p{
        padding-top: 0;
        font-family: 'open_sanssemibold';
        color: #fff;
        font-size: 18px;
        max-width: 525px;
        text-align: left;
        float: left;
        font-size: 21px;
//        font-size: 24px;
    }
    
    .title{
        padding-top: 180px;
        font-family: 'poppinssemibold';
        color: #fff;
        font-size: $ftitlesize;
        max-width: 400px;
        text-align: left;
        float: left;
        font-size: 30px;
    }
    
    .btn-mult{
        margin-top: 35px;
        float: left;
        margin-left: 10px;
    }
    
}


#diferencial {
    background-color: #e0e1e1;
    
    height: 438px;
//    height: 498px;
//    height: 728px;
    color: #102c42;
    .container{
        padding-top: 45px;
        max-width: $containerWidth;
    }
    
    .title_dest{text-align: center;}
    .panel{
        padding-top: 0px;
        background-color: #e0e1e1;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    }
    .panel-body {
        .media-object {
            padding: 10px 10px 10px 0px;
            max-width: 95px;
        }
        .media-heading {
            font-family: 'poppinsregular';
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 0px;
            color: #424445;
        }
        p {
            font-family: 'open_sansregular';
            font-size: 15px;
            color: #424445;
        }
    }
    .row {
        padding-top: 30px;
    }
    .container {
        .panel{
            .container{
                padding-top: 30px;
                p{
                    padding: 0;
                    text-align: left;
                }                
            }
        }

    }
}

#oq_faz {
    background-image: url("../images/oq-faz-bg.jpg");
    height: 424px;
    .title_dest{text-align: left; font-size:$ftitlesize; }
    .container{
        padding-top: 80px;
        max-width: $containerWidth;
    }
    color: #102c42;
    .txt_body {
        font-family: 'open_sansregular';
        font-size: 20px;
        max-width: 530px;
        padding-top: 20px;
        padding-bottom: 20px;
        float: left;
        span{
            font-family: 'open_sansbold';
        }
    }
    .btn-mult{
        float: left;
        margin-left: 5px; 
//        padding: 12px 40px;
    }
    
}



#produtos{
    height: 432px;
    p{margin: 0;}
    .title_dest {
        text-align: center;    
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: $ftitlesize + 6px;
    }
    .planos_thumb {
        height: 364px;
        
        p {
            color: #fff;
            font-family: 'open_sansregular';
            font-size: 11px;
            
            font-size: $ftitlesize - 16px;
            max-width: 216px;
            margin-left: 42px;
            padding-top: 16px;
            
        }
        .title {
            font-family: 'poppinsbold';
            font-size: $ftitlesize + 2px;
            padding-top: 40px;
        }
    }
    .quad_bg {
        width: 308px;
        height: 280px;
        margin-top: 46px;
        margin-left: -15px;
        margin-right: -15px;
        
    }
    #planos_start {    
        background-image: url("../images/planos-start-bg.jpg");
        .quad_bg{
            background-color: #0075be;
            -webkit-clip-path: polygon(0 0, 0 45%, 5% 50%, 0 55%, 0 100%, 100% 100%, 100% 0%);
            -moz-clip-path: polygon(0 0, 0 45%, 5% 50%, 0 55%, 0 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0 0, 0 45%, 5% 50%, 0 55%, 0 100%, 100% 100%, 100% 0%);
//            background-image:  url("../images/bg_start.png");  
        }
        
    }
    #planos_pro{ 
        
        background-image: url("../images/planos-pro-bg.jpg");
        .quad_bg{
            background-color: #00396d;
            -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 55%, 95% 50%, 100% 45%, 100% 0);
            -moz-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 55%, 95% 50%, 100% 45%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 55%, 95% 50%, 100% 45%, 100% 0);
            
//            background-image:  url("../images/bg_pro.png");  
        }
    }
    
}

#sobre {
    background-color: #102b40;    
    height: 724px;
    .title_dest{
        text-align: center; 
        color: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
    };
    .container{
        margin-top: 60px;
        max-width: $containerWidth;
    }
    
    #vd_f {
        background-color: #424445;
        img{ padding-top: 132px;}
//        background-image: url("http://img.youtube.com/vi/6jU1Hg6-7xI/0.jpg");
        width: auto;
        height: 320px;
        cursor: pointer;
        opacity:.5;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        iframe{width: 100%; height: 100%;}
    }
    #vd_s {
        img{ padding-top: 42px;}
        iframe{width: 100%; height: 100%;}
        margin-top: 20px;
        background-color: #424445;
        cursor: pointer;
        width: auto;
        height: 150px;
        opacity:.5;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        
    }
    #vd_f:hover, #vd_s:hover{
        opacity:1;  
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
    
    .vd2{
//        background-image: url("http://img.youtube.com/vi/MQJzE8qM8Fs/0.jpg");
    }
    
    .vd3{
//        background-image: url("http://img.youtube.com/vi/nRYeswbOoRw/0.jpg");
    }
    
    #txt_com{
        
        background-color: #0d324f;
        color: #fff;
//        margin-top: 40px;
        width: auto;
        height: 487px;
        div.txt{
            font-size: 19px;
            font-family: 'open_sansitalic';
            max-width: 316px;
            padding-top: 0px;
            left: 10px;
            span{
                font-size: 20px;
                font-family: 'poppinsregular';    
            }
            
            hr{margin-bottom: 0; margin-top: 80px}
            .media {
                margin-top: -1px;
                img{
                    border: 1px solid #fff;
                }
                h4{
                    font-family: 'open_sanssemibold'; 
                    font-size: 17px; 
                    padding-top: 10px;
                }
                p{
                    font-family: 'open_sansregular'; 
                    font-size: 14px;
                }
            }
            
        }
        .title_dest{
            font-size: 108px;
            font-family: 'poppinsregular';
            line-height: 0px;
            text-align: left;
            left: 10px;
            padding-top: 95px;
            padding-bottom: 30px;
            padding-right: 60px;
        }
    }
    
    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#contato{
//    background-image: url("../images/pronto-bg.jpg");
    .container{
        padding-top: 60px;
        padding-bottom: 60px;
        max-width: $containerWidth;
    }
    p{
        color: #102c42;
        font-family: 'open_sansregular';
        font-size: 22px;
    }
    .title_dest{
        font-size: $ftitlesize + 6px;
        font-family: 'poppinslight';
        span{
            font-family: 'poppinssemibold';
        }
        span.aspas{
             font-size: 22px;   
        }
    }
    form{
        max-width: 359px;
        textarea[type="text"], input[type="text"]{
            font-size: 16px;
            font-family: 'open_sanssemibold';
            color: #424445;
        }
        span {
            font-size: 12px;
            font-family: 'open_sanssemibold';
            color: #737679;
            padding-bottom: 10px;
        }
        textarea[type="text"]{
            margin-bottom: 25px; 
        }
        input[type="text"]{
            height: 45px;
            margin-bottom: 0px;
        }

        .btn-mult{
            padding: 12px 48px;
            max-width: 100%;
            width: 100%;
            
        }

        .wtxt{
            font-family: 'open_sanssemibold';
            color: #9d1d20;
            font-size: 16px;
            position: absolute;
            margin-top: 12px;
            margin-left: 12px;
            background: #fff;
            pointer-events : none;
            text-align: left;
            width: 320px;
        }
        
        #wtxtNome{ margin-top: 40px; }
        
        label {
            p{
                text-align: center;
                color: #9d1d20;
                font-family: 'open_sansregular';
                font-size: 14px;
                line-height: 1px;
            }
            .title{
                font-family: 'open_sansbold';
                padding-top: 20px;
            }
        }
    }
    
    
    
    #msgEnviado {
        padding-top: 0;
        max-width: 100%;
        p{
            font-family: 'open_sanssemibold';
            font-size: 18px;
            text-align: center;
            color: #0c599f;
        }
        .title{
            font-family: 'open_sansbold';
            font-size: 25px;
        }
        .btn-mult{
            margin-top: 30px;
            padding: 12px 20px;
            width: 100%;
            max-width: 390px;
        }
    }
    
//    a.btn-mult{
//        text-align: center;
//        margin-top: 60px;
//        padding: 12px 10px;
//    }
}
    


/* Custom page footer */
.footer {
    .container{max-width: $containerWidth;}
//    background-color: #cdcdcd;
    background-image: url("../images/footer-pattern.jpg");
//    background-image: url("../images/pronto-bg.jpg");
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #FFF;
    height: 168px;
    .info-xs{display: none;}
    .contatos {
        p, #add{
            color: #8c8c8c;
            font-size: 14px;
            font-family: 'open_sanssemibold';
            width: 70px;
        }
        #add {
            width: 300px;
            padding-left: 20px;
            color: #424445;
        }
    }
    a{
        color: #424445;
        font-size: 14px;
        font-family: 'open_sanssemibold';
    }
    p#add span{padding: 0 6px;}
    
    .roda {
        color: #6a6a6a;
        font-family: 'open_sanssemibold';
        font-size: 10px;
        margin-top: 55px;    
    }
}

.container-narrow > hr {
  margin: 30px 0;
}

#popup{
    display: block;
    #inside{
        $rightW : 300px;
        background-image: url("../images/bg-modal.jpg");
        width: 659px;
        height: 516px;
        border: 14px solid #fff;
        float: left;
        .pop-right{
            float: right; 
            max-width: $rightW; 
            margin: 40px 30px;
            .btn-mult{
                font-size: 16px;
                padding: 12px 36px;
                width: 100%;
                margin-top: 20px;
            }
            p{line-height: 30px;}
            form{
                #name{
                    margin-bottom: 10px;
                }
                span{ color: #e0e1e1; font-size: 12px;}
                max-width: $rightW;
                margin-top: 50px;
                .wtxtPop {
                    color: #9d1d20;
                    font-size: 16px;
                    position: absolute;
                    margin-top: 3px;
                    background-color: #fff;
                    padding-left: 10px;
                    filter: none;
                    pointer-events: none;
                    margin-left: 2px;
                }
                #wtxtNomePop{margin-top: 19px;}
            }
            .warning {
                p{font-size: 14px; line-height: 10px; filter: none;}
                p.title{padding-top: 20px;}
            }
        }
        .pop-left{
            float: left; 
            max-width: 250px;
            margin: 10px 10px;
            img{
                padding: 15px 15px;
            }
            #selo{
                margin-left: 40px;
            }
        }
        
        #manual {    
            filter: drop-shadow(11px 12px 3px rgba(0, 0, 0, 0.5));
        }
        p { 
            color: #fff;
            font-size: 30px;
            font-family: 'poppinsregular';
            text-align: center;
            filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
            max-width: $rightW;
            span {
                color: #e9e41f;
                font-family: 'poppinsbold';
            }
        }
        span.p2{
            font-size: 20px;
            color: #fff;
            font-family: 'poppinsregular';
            span{
                font-family: 'poppinsbold';
                color: #fff;
            }
        }
    }
    
    #closePopup{
        position: absolute;
        color: #fff;
        left: 606px;
        top: 18px;
        .glyphicon{
            font-size: 32px;
        }
    }
    
    #cadeado{
        padding-left: 30px;
        margin-left: 270px;
        img{float: left; padding-top: 4px;}
        p{
            padding-left: 7px;
            filter: none;
            font-size: 13px;
            text-align: left;
            font-family: 'open_sanssemibold_italic';
            float: left;
            width: 220px;
            line-height: 14px;
        }
    }
    
    #msgEnviado{
            width: 300px;
            p{
                font-family: 'open_sanssemibold'; 
                filter: none; 
                font-size: 18px;
                margin-top: 0px;
                width: 270px;
                line-height: 20px !important;
            }
            p.title{
                font-size: 23px;
                margin-top: 20px;
            }
            .btn-mult{margin-top: 30px;}
    }
    
    
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  .header {
////    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
}

@import "1024.scss";
@import "768.scss";
@import "640.scss";
@import "480.scss";
@import "320.scss";