$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$ftitlesize: 27px;


body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
//  padding-left: 15px;
//  padding-right: 15px;
}

/* Custom page header */
.header {
//    height: 100px;
//  border-bottom: 1px solid #e5e5e5;
//  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.jumbotron {
    padding: 0;
    margin-bottom: 0;
    .container{
        max-width: 800px;    
    }
}

.navbar {
    min-height: 84px;
    margin-bottom:0;
}

.navbar-brand{    
    padding: 26px 15px;    
}
.navbar-nav{
    padding: 20px 15px;
    li{
        a{
            font-family: 'poppinsmedium';
        }
    }
}
.container-nav{
    max-width: 1000px;   
}
/* .container-body{
    max-width: 800px;   
}
 */
.thumbnail{
    background-color: transparent;
    border:0;
    .caption{
        padding-top: 0;
        text-align: center;
        
        h3{
            font-family: 'poppinsbold';
            font-size: 18px;
            color: #102c42;
        }
        p{
            font-family: 'open_sansregular';
            font-size: 13px;
            color: #424445;
        }
    }
}

.btn-mult{
    font-family: 'poppinssemibold';
    color: #fff;
    font-size: 14px;
    background-color: #0c599f;
    border: 1px solid #298fce;
    box-shadow: 0px 0px 1px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 70px;
    border-radius: 4px;
}

.title_dest {
    font-family: 'poppinslight';
    span{font-family: 'poppinssemibold';}
}

.left50{float:left; width:50%;}

.backgroundImgConf{
    background-repeat: no-repeat;
    background-position: center center;     
}


#banner{
    background-image: url("/images/banner-bg.jpg");
    @extends('.backgroundImgConf');
    
    height: 701px;
    
    
    p{
        padding-top: 30px;
        font-family: 'open_sanssemibold';
        color: #fff;
        font-size: 18px;
        max-width: 400px;
        text-align: left;
        float: left;
    }
    
    .title{
        padding-top: 140px;
        font-family: 'poppinssemibold';
        color: #fff;
        font-size: $ftitlesize;
        max-width: 360px;
        text-align: left;
        float: left;
    }
    
    button{
        margin-top: 35px;
        float: left;
    }
    
}


#diferencial {
    background-color: #e0e1e1;
    height: 640px;
    color: #102c42;
    .container{
        padding-top: 45px;    
    }
    
    .title_dest{text-align: center; font-size: $ftitlesize;}
    .panel{
        background-color: #e0e1e1;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    }
    .panel-body {
        
        .title {
            font-family: 'poppinsregular';
            font-size: 17px;
            line-height: 0;
            color: #424445;
        }
        p {
            font-family: 'open_sansregular';
            font-size: 11px;
            color: #424445;
        }
    }
    .row {
        padding-top: 30px;
    }
    .container {
        .panel{
            .container{
                padding-top: 30px;
                p{
                    padding: 0;
                    text-align: left;
                }                
            }
        }

    }
}

#oq_faz {
    background-image: url("/images/oq-faz-bg.jpg");
//    background-repeat: no-repeat;
//    background-position: center center; 
    @extends('.backgroundImgConf');
    height: 424px;
    .title_dest{text-align: left; font-size: $ftitlesize;}
    .container{
        padding-top: 80px;    
    }
    color: #102c42;
    .txt_body {
        font-family: 'open_sansregular';
        font-size: 17px;
        max-width: 450px;
        padding-top: 20px;
        padding-bottom: 20px;
        span{
            font-family: 'open_sansbold';
            
        }
    }
    
}



#planos{
    height: 432px;
    p{margin: 0;}
    .title_dest {
        text-align: center;    
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: $ftitlesize;
    }
    .planos_thumb {
        @extends('.backgroundImgConf');
        height: 364px;
        
        p {
            color: #fff;
            font-family: 'open_sansregular';
            font-size: 11px;
            max-width: 168px;
            margin-left: 73px;
            padding-top: 23px; 
            
        }
        .title {
            font-family: 'poppinsbold';
            font-size: 24px;
            padding-top: 55px;
        }
    }
    .quad_bg {
        width: 308px;
        height: 280px;
        margin-top: 46px;
        margin-left: -15px;
        margin-right: -15px;
    }
    #planos_start {    
        background-image: url("/images/planos-start-bg.jpg");
        .quad_bg{
            background-image:  url("/images/bg_start.png");  
        }
        
    }
    #planos_pro{    
        background-image: url("/images/planos-pro-bg.jpg");
        .quad_bg{
            background-image:  url("/images/bg_pro.png");  
        }
    }
    
}

#conheca {
    background-color: #102b40;    
    height: 424px;
    .title_dest{
        text-align: center; 
        color: #fff;
        max-width: 780px;
        font-size: $ftitlesize - 2px;
        padding-top: 40px;
        padding-bottom: 40px;
    };
    .container{
        margin-top: 40px;
        max-width: 900px
    }
    
    #vd_f {
        background-color: #424445;
//        background-image: url("http://img.youtube.com/vi/6jU1Hg6-7xI/0.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 317px;
        cursor: pointer;
        opacity:.5;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
    #vd_s {
        background-color: #424445;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        height: 150px;
        opacity:.5;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        
    }
    #vd_f:hover, #vd_s:hover{
        opacity:1;  
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
    
    .vd2{
//        background-image: url("http://img.youtube.com/vi/MQJzE8qM8Fs/0.jpg");
    }
    
    .vd3{
//        background-image: url("http://img.youtube.com/vi/nRYeswbOoRw/0.jpg");
    }
    
    #txt_com{
        background-color: #0d324f;
        color: #fff;
//        border: 1px solid #fff;
        
        height: 100px;
        div.txt{
            font-size: 19px;
            font-family: 'open_sansitalic';
            max-width: 400px;
            padding-top: 25px;
            span{
                font-size: 20px;
                font-family: 'poppinsregular';    
            }
            
            hr{margin-bottom: 0}
            .media {
                margin-top: -1px;
//                padding-top: 0;
                img{
                    border: 1px solid #fff;
                }
                h4{font-family: 'open_sanssemibold'; font-size: 17px; padding-top: 10px;}
                p{font-family: 'open_sansregular'; font-size: 14px;}
            }
            
        }
        .title_dest{
            font-size: 108px;
            font-family: 'poppinsregular';
            line-height: 20px;
            text-align: right;
            right: -10px;
            padding-top: 72px;
        }
    }
    
    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#pronto{
    .container{
//        margin-top: 40px;
        max-width: 900px
    }
    p{
        color: #102c42;
        font-family: 'open_sansregular';
        font-size: 18px;
    }
    .title_dest{
        font-size: 30px;
        font-family: 'poppinslight';
        span{
            font-family: 'poppinssemibold';
        }
        span.aspas{
             font-size: 22px;   
        }
    }
    
}
    


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  .header {
////    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
}

@import "1280.scss";
@import "640.scss";
@import "480.scss";
@import "320.scss";