<div class="jumbotron" id="banner">
   <div class="container center-block">
       <p class="title center-block">INVISTA EM EMPRESAS SAUDÁVEIS E LUCRATIVAS.</p><!--poppins semibold 27-->
       <p class="center-block">Construa uma sólida reserva financeira para o seu futuro. Conquiste sua independência financeira.</p><!--opensans semibold 18-->
       <button type="button" class="btn-mult center-block">CONHEÇA O MÉTODO MÚLTIPLOS</button><!--poppins semibold 13.5-->
   </div>
</div>


<div class="jumbotron" id="diferencial">
    <div class="center-block">
        <div class="container">
            <p class="title_dest center-block">Oferecemos <span>alternativas viáveis</span> para você ter bons rendimentos sem correr riscos desnecessários.</p>
        </div>
        <div class="row container center-block">
            
                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="/images/conflitos-icon.png" alt="...">
                    <div class="caption">
                        <h3>Sem conflitos de interesse</h3>
                        <p>Nossas recomendações são focadas exclusivamente nos seus interesses. Não recebemos comissões de bancos, corretoras ou de empresas que recomendamos.</p>

                    </div>
                </div>
                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="/images/economia-icon.png" alt="...">
                    <div class="caption">
                        <h3>Economia de tempo</h3>
                        <p>Você quer investir e não tem tempo de analisar melhores opções de investimentos? Nós encontramos a melhor opção e você ganha mais tempo para curtir a vida.</p>

                    </div>
                </div>
                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="/images/independencia-icon.png" alt="...">
                    <div class="caption">
                        <h3>Independência financeira</h3>
                        <p>Se aposentar 10 anos mais cedo e mudar seu estilo de vida. Já imaginou? Nós mostramos que é possível.</p>

                    </div>
                </div>

                

                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="/images/confianca-icon.png" alt="...">
                    <div class="caption">
                        <h3>Confiança</h3>
                        <p>Somos adeptos do "Investimento em Valor", o método mais bem sucedido da história, testado durante 80 anos por grandes investidores, como Benjamin Graham, Warren Buffet e Walter Schloss. </p>

                    </div>
                </div>


            
        </div>
        
        <div class="panel panel-default hidden-xs">
          <div class="panel-body">
            <img src="images/garantia-icon.png" alt="" class="col-md-2">
            <div class="container col-md-10">
                <p class="title">A Múltiplos te oferece uma garantia incondicional de 30 dias.</p>
                <p>Dentro deste período, se você não estiver satisfeito com o nosso serviço, garantimos o reembolso integral do valor investido. </p>                
            </div>

          </div>
        </div>
        
        <div class="visible-xs" id="garantia">
            <hr>
            <div class="container center-block">
                <img src="images/garantia-icon.png" alt="" class="">
                <div class="txt">
                    <p class="title">A Múltiplos te oferece uma garantia incondicional de 30 dias.</p>
                    <p>Dentro deste período, se você não estiver satisfeito com o nosso serviço, garantimos o reembolso integral do valor investido. </p>                
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="jumbotron" id="oq_faz">
    <div class="container center-block">
        <p class="title_dest">O que a <span>Múltiplos</span> faz?</p>
        <p class="center-block txt_body"><span>Analisamos e montamos</span> uma carteira de investimentos personalizada. Pensamos exclusivamente na construção segura do seu patrimônio.</p>
        <button type="button" class="btn-mult center-block">FALE AGORA COM UM CONSULTOR MÚLTIPLOS</button>
    </div>
</div>

<div class="jumbotron" id="planos">
    <div class="container center-block">
        <p class="title_dest center-block">Planos que a <span>Múltiplos</span> oferece</p>
    </div>
       
    <div class="container col-md-6 planos_thumb hidden-xs" id="planos_start">
        <div class="quad_bg pull-right">
            <p class="title">START</p>
            <p>Este plano fornece uma carteira básica de investimentos. Ideal para quem nunca investiu e quer começar agora.</p>
        </div>
        
    </div>
    <div class="container col-md-6 planos_thumb hidden-xs" id="planos_pro">
        <div class="quad_bg pull-left">
            <p class="title">PROFISSIONAL</p>
            <p>Para quem já começou a investir,  mas quer fugir do baixo rendimento dos bancos, este é o plano ideal. Ele dá acesso à Carteira Múltiplos, que produziu um resultado de 39,3% no primeiro semestre de 2016.</p>
        </div>
    </div>
    
    
    <div class=" visible-xs" >
        <div id="quad_bg">
           <div class="container">
                <p class="title">START</p>
                <p>Este plano fornece uma carteira básica de investimentos. Ideal para quem nunca investiu e quer começar agora.</p>   
           </div>
            
        </div>
        <div id="start_bg">
            
        </div>
    </div>
    
</div>


<div class="jumbotron" id="conheca">
    <div class="container center-block">
        <p class="title_dest center-block">Conheça as <span>vantagens</span> de quem usa o Métodos Múltiplos.</p>
        <div class="col-md-8">
            <div class="col-md-12" id="vd_f">
                <img src="images/vd1.jpg" alt="" class="img-responsive">
                <img src="images/play.png" alt="" class="imgPlay">
<!--                <img src="http://img.youtube.com/vi/6jU1Hg6-7xI/0.jpg" alt="" class="img-thumbnail">-->
           
            </div>
            <div class="col-md-6" id="vd_s">
                <img src="images/vd2.jpg" alt="" class="img-responsive">
<!--                <img src="http://img.youtube.com/vi/nRYeswbOoRw/0.jpg" alt="" class="img-thumbnail">-->
            </div>
            <div class="col-md-6" id="vd_s">
               <img src="images/vd3.jpg" alt="" class="img-responsive">
<!--                <img src="http://img.youtube.com/vi/MQJzE8qM8Fs/0.jpg" alt="" class="img-thumbnail">-->
            </div>            
        </div>

        <div class="col-md-4">    
            <div class="col-md-12" id="txt_com">PRINCIPAL txt</div>    
        </div>    
    </div>
</div>

<div class="jumbotron" id="pronto">
    <div class="container">
        <div class="col-md-7">
            <p class="title_dest"><span>Estou pronto</span>(<span>a</span>) para adiquirir o Métodos Múltiplos.</p>
            <p>Buscaremos investimentos mais rentáveis e seguros com base na análise do seu perfil e nos seus objetivos. Preencha com seus dados e nós entraremos em contato.</p>
        </div>
        <div class="col-md-5">
            <form>
               <div class="form-group">
                    <span class="pull-right">*campos obrigatórios.</span>
                    <input type="text" class="form-control" placeholder="Nome*" ng-model="form.nome"  ng-focus="focus()">
                </div>
                <div class="form-group">
                    <input type="text"  class="form-control" placeholder="Email*" ng-model="form.email" ng-focus="focus()">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Mensagem" ng-model="form.msg"/>
                </div>
                <div class="form-group">
                    <label ng-show="warning">{{warning}}</label>
                </div>
                <button type="button" class="btn-mult" ng-click="submit()">SOLICITE SEU ORÇAMENTO</button>
                
            </form>
        </div>

    </div>
</div>


