<div class="jumbotron" id="banner">
   <div class="container">
       <h1>INVISTA EM EMPRESAS SAUDÁVEIS E LUCRATIVAS.</h1><!--poppins semibold 27-->
       <p>Construa uma sólida reserva financeira para o seu futuro. Conquiste sua independência financeira.</p><!--opensans semibold 18-->
       <button type="button" class="btn btn-default">CONHEÇA O MÉTODO MÚLTIPLOS</button><!--poppins semibold 13.5-->
   </div>
</div>


<div class="jumbotron" id="diferencial">
    <div class="container">
        <h1>Oferecemos alternativas viáveis para você ter bons rendimentos sem correr riscos desnecessários.</h1><!--poppins semibold 27-->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/conflitos-icon.png" alt="...">
                    <div class="caption">
                        <h3>Sem conflitos de interesse</h3>
                        <p>Nossas recomendações são focadas exclusivamente nos seus interesses. Não recebemos comissões de bancos, corretoras ou de empresas que recomendamos.</p>

                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/images/independencia-icon.png" alt="...">
                    <div class="caption">
                        <h3>Independência financeira</h3>
                        <p>Se aposentar 10 anos mais cedo e mudar seu estilo de vida. Já imaginou? Nós mostramos que é possível.</p>

                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/images/economia-icon.png" alt="...">
                    <div class="caption">
                        <h3>Economia de tempo</h3>
                        <p>Você quer investir e não tem tempo de analisar melhores opções de investimentos? Nós encontramos a melhor opção e você ganha mais tempo para curtir a vida.</p>

                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/images/confianca-icon.png" alt="...">
                    <div class="caption">
                        <h3>Confiança</h3>
                        <p>Somos adeptos do "Investimento em Valor", o método mais bem sucedido da história, testado durante 80 anos por grandes investidores, como Benjamin Graham, Warren Buffet e Walter Schloss. </p>

                    </div>
                </div>


            </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="images/garantia-icon.png" alt="">
            <h1>A Múltiplos te oferece uma garantia incondicional de 30 dias.</h1>
            <p>Dentro deste período, se você não estiver satisfeito com o nosso serviço, garantimos o reembolso integral do valor investido. </p>
          </div>
        </div>
        
    </div>
</div>


<div class="jumbotron" id="oq_faz">
    <div class="container">
        <h1>O que a Múltiplos faz?</h1>
        <p>Analisamos e montamos uma carteira de investimentos personalizada. Pensamos exclusivamente na construção segura do seu patrimônio.</p>
        <button type="button" class="btn btn-default">FALE AGORA COM UM CONSULTOR MÚLTIPLOS</button><!--poppins semibold 13.5-->
    </div>   
    
</div>





