<div class="jumbotron backgroundImgConf" id="inicio">
   <div class="container center-block">
       <p class="title center-block">INVISTA NA CARTEIRA QUE RENDEU 39,4% EM 2016</p>
       <p class="center-block">-Invista em ações com rentabilidade e segurança. <br>-Construa seu patrimônio sem depender de bancos. <br>-Crie o seu próprio plano de previdência. <br>-Conquiste a sua independência financeira.</p>
<!--
       <p class="title center-block">INVISTA EM EMPRESAS SAUDÁVEIS E LUCRATIVAS.</p>
       <p class="center-block">Construa uma sólida reserva financeira para o seu futuro. Conquiste sua independência financeira.</p>
-->
       
       <button type="button" class="btn-mult center-block" ng-click="openUrl('http://multiplosinvestimentos.com.br/blog/consultoria')">TRANSFORME SUA VIDA FINANCEIRA</button>
<!--       CONHEÇA O MÉTODO MÚLTIPLOS-->
   </div>
</div>


<div class="jumbotron backgroundImgConf" id="diferencial">
    <div class="center-block">
<!--
        <div class="container">
            <h3 class="title_dest center-block">Oferecemos <span>alternativas viáveis</span> para você ter bons rendimentos sem correr riscos desnecessários.</h3>
        </div>
-->
        <div class="row container center-block">
            
                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="images/conflitos-icon.png" alt="...">
                    <div class="caption">
<!--                        <h3>Sem conflitos de interesse</h3>-->
                        <h3>Não recebemos comissões de bancos e corretoras</h3>
<!--                        <p>Nossas recomendações são focadas exclusivamente nos seus interesses. Não recebemos comissões de bancos, corretoras ou de empresas que recomendamos.</p>-->

                    </div>
                </div>
                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="images/confianca-icon.png" alt="...">
                    <div class="caption">
<!--                        <h3>Confiança</h3>-->
                        <h3>Conquiste 1 milhão em 20 anos com apenas R$500 por mês</h3>
<!--                        <p>Somos adeptos do "Investimento em Valor", o método mais bem sucedido da história, testado durante 80 anos por grandes investidores, como Benjamin Graham, Warren Buffet e Walter Schloss. </p>-->

                    </div>
                </div>
                
                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="images/economia-icon.png" alt="...">
                    <div class="caption">
<!--                        <h3>Economia de tempo</h3>-->
                        <h3>Você só vai precisar de 1 minuto por dia</h3>
<!--                        <p>Você quer investir e não tem tempo de analisar melhores opções de investimentos? Nós encontramos a melhor opção e você ganha mais tempo para curtir a vida.</p>-->

                    </div>
                </div>
                
                
                
                <div class="thumbnail col-md-3 col-xs-6">
                    <img src="images/independencia-icon.png" alt="...">
                    <div class="caption">
<!--                        <h3>Independência financeira</h3>-->
                        <h3>Planos a partir de R$497</h3>
<!--                        <p>Se aposentar 10 anos mais cedo e mudar seu estilo de vida. Já imaginou? Nós mostramos que é possível.</p>-->

                    </div>
                </div>
        </div>
        
        <div class="panel panel-default hidden-xs container">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a>
                  <img class="media-object" src="images/garantia-icon.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">A Múltiplos te oferece uma garantia incondicional de 30 dias.</h4>
                <p>Se, por qualquer motivo, no prazo de 30 dias, você julgar que a Análise Múltiplos não é adequada para você, nós devolveremos 100% do valor investido. Sem perguntas, sem aborrecimentos.</p>
<!--                <p>Dentro deste período, se você não estiver satisfeito com o nosso serviço, garantimos o reembolso integral do valor investido.</p>-->
              </div>
            </div>
          </div>
        </div>
        <div class="visible-xs" id="garantia">
            <hr>
            <div class="media container">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="images/garantia-icon.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">A Múltiplos te oferece uma garantia incondicional de 30 dias.</h4>
                <p>Dentro deste período, se você não estiver satisfeito com o nosso serviço, garantimos o reembolso integral do valor investido.</p>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron  backgroundImgConf" id="oq_faz">
    <div class="container center-block">
        <h3 class="title_dest">O que a <span>Múltiplos</span> faz?</h3>
        <p class="center-block txt_body"><span>Analisamos e montamos</span> uma carteira de investimentos personalizada. Pensamos exclusivamente na construção segura do seu patrimônio.</p>
        <button type="button" class="btn-mult center-block" ng-click="go('contato')">FALE AGORA COM UM CONSULTOR MÚLTIPLOS.</button>
    </div>
</div>

<div class="jumbotron backgroundImgConf" id="produtos">
    <div class="container center-block">
        <h3 class="title_dest center-block">Planos que a <span>Múltiplos</span> oferece</h3>
    </div>
       
    <div class="container col-xs-6 col-md-6 planos_thumb hidden-xs backgroundImgConf" id="planos_start">
        <div class="quad_bg pull-right">
            <p class="title">START</p>
            <p>Este plano fornece uma carteira básica de investimentos. Ideal para quem nunca investiu e quer começar agora.</p>
        </div>
        
    </div>
    <div class="container col-xs-6 col-md-6 planos_thumb hidden-xs backgroundImgConf" id="planos_pro">
        <div class="quad_bg pull-left">
            <p class="title">PROFISSIONAL</p>
            <p>Para quem já começou a investir,  mas quer fugir do baixo rendimento dos bancos, este é o plano ideal. Ele dá acesso à Carteira Múltiplos, que produziu um resultado de 39,3% no primeiro semestre de 2016.</p>
        </div>
    </div>
    
    <div class="visible-xs" >
        <div id="quad_bg" class="quad_start">
           <div class="container">
                <p class="title">START</p>
                <p>Este plano fornece uma carteira básica de investimentos. Ideal para quem nunca investiu e quer começar agora.</p>   
           </div>
            
        </div>
        <div id="bg_img_planos" class="start_bg"></div>
    </div>    
    <div class=" visible-xs" >
        <div id="quad_bg" class="quad_pro">
           <div class="container">
                <p class="title">PROFISSIONAL</p>
                <p>Para quem já começou a investir,  mas quer fugir do baixo rendimento dos bancos, este é o plano ideal. Ele dá acesso à Carteira Múltiplos, que produziu um resultado de 39,3% no primeiro semestre de 2016.</p>   
           </div>
            
        </div>
        <div id="bg_img_planos" class="pro_bg"></div>
    </div>
    
</div>


<div class="jumbotron backgroundImgConf" id="sobre" ng-init="settingVantagensVds()">
    

    <div class="container center-block">
        <h3 class="title_dest center-block">Conheça as <span>vantagens</span> de quem usa ...</h3>
<!--        <h3 class="title_dest center-block">Conheça as <span>vantagens</span> de quem usa o Método Múltiplos.</h3>-->
        <div class="col-md-7 col-xs-12">
            <div class="col-md-12 col-xs-12">
                <div class="backgroundImgConf" id="vd_f" ng-click="callVd(vantagens.vdId1)">
                    
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
<!--                    <img src="images/play.png" alt="" class="imgPlay center-block">-->
                </div>
           
            </div>
            <div class="col-md-6 col-xs-6">
               <div class=" vd2 backgroundImgConf" id="vd_s" ng-click="callVd(vantagens.vdId2)">
                    
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
<!--                    <img src="images/play.png" alt="" class="imgPlay center-block">   -->
               </div>
                
            </div>

            <div class="col-md-6 col-xs-6 " >
               <div class=" vd3 backgroundImgConf" id="vd_s" ng-click="callVd(vantagens.vdId3)">
                  <iframe class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
<!--                  <img src="images/play.png" alt="" class="imgPlay center-block">-->
               </div>
                 
            </div>            
        </div>

        <div class="col-md-5 col-xs-12">    
            <div id="txt_com">
                <p class="col-lg-12 col-md-2 col-xs-2 title_dest">“</p>
                <div class="col-lg-12 col-md-10  col-xs-10 txt">{{vantagens.txt}}<span>”</span>
                    <hr>
                    <div class="media">
                      <div class="media-left">
                        <a>
                          <img class="media-object" src="{{vantagens.thumb}}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{vantagens.altor}}</h4>
                        <p>{{vantagens.prof}}</p>
                      </div>
                    </div>
                </div>
            </div>   
        </div>    
    </div>
</div>
<!--ng-init="popup()"-->
<div class="jumbotron backgroundImgConf" id="contato"  >
    <div class="container">
        <div class="col-md-7">
<!--
            <p class="title_dest center-block"><span>Estou pronto</span><span class="aspas">(</span><span>a</span><span class="aspas">)</span> para adquirir o Método Múltiplos.</p>
            <p class="center-block">Buscaremos investimentos mais rentáveis e seguros com base na análise do seu perfil e nos seus objetivos. Preencha com seus dados e nós entraremos em contato.</p>
            
-->
            <p class="title_dest center-block"><span>Receba uma Avaliação Gratuita</span></p>
 
            <p class="center-block">Nossa equipe vai entrar em contato com você para lhe ajudar a melhorar os seus investimentos.</p>
            
<!--
            <p class="title_dest center-block"><span>Estou pronto</span><span class="aspas">(</span><span>a</span><span class="aspas">)</span> para adquirir o Método Múltiplos.</p>
            <p class="center-block">Buscaremos investimentos mais rentáveis e seguros com base na análise do seu perfil e nos seus objetivos. Preencha com seus dados e nós entraremos em contato.</p>
-->
        </div>
        <div class="col-md-5">
<!--            <a type="button" class=" center-block btn-mult"  href="mailto:contato@multiplosinvestimentos.com.br?subject=Email contato Múltiplos">SOLICITE SEU ORÇAMENTO</a>-->
            <form class="center-block"  ng-show="!sentEmail">
               <div class="form-group" id="formNome">
                    <span class="pull-right">*campos obrigatórios.</span>
                    <p class="wtxt" ng-show="warningNome" id="wtxtNome">Digite seu nome</p>
                    <input type="text" class="form-control" placeholder="Nome*" ng-model="form.nome"  ng-focus="focus()">
                </div>
                <div class="form-group" id="formEmail">
                    <p class="wtxt" ng-show="warningEmail">Digite corretamente seu email</p>
                    <input type="text"  class="form-control" placeholder="Email*" ng-model="form.email" ng-focus="focus()">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Mensagem" ng-model="form.msg" rows="3"></textarea>
                </div>

                <button type="button" class="btn-mult center-block" ng-click="submit()">SOLICITE SEU ORÇAMENTO</button>
                
                <div class="form-group">
                    <label class="warning center-block" ng-show="warning">
                        <p class="title">NÃO ENVIADO</p>
                        <p>Por favor, revise os campos acima.</p>
                    </label>
                </div>
                
            </form>
            
            <div class="" ng-show="sentEmail">
                <div class="container" id="msgEnviado">
                    <p class="title">RECEBEMOS SUAS INFORMAÇÕES.</p>
                    <p>Em breve entraremos em contato.</p>
                    <button type="button" class=" center-block btn-mult" ng-click="novoOrcamento()">SOLICITE NOVO ORÇAMENTO</button>
                </div>
                    
            </div>
        </div>

    </div>
</div>


