<!--
<div class="modal-header">
    <h3 class="modal-title">Carregue as molduras da campanha</h3>
</div>


<div class="modal-body">
   

    
</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>-->

<div class="center-block" id="popup">
    
    <div id="inside" class="backgroundImgConf">
      
        <div class="pop-left">
           <img class=""  id="manual" src="images/manual.png" alt="">
           <img class="" id="selo" src="images/selo.png" alt="">
        </div> 
         
        <div class="pop-right">
            <p class="container">ANTES DE IR, QUE TAL RECEBER <span>GRATUITAMENTE</span> <span class="p2">O <span>MANUAL MÚLTIPLOS?</span></span></p>
<!--            <p class="container p2">O <span>MANUAL MÚLTIPLOS?</span></p>-->
            <form class="center-block"  ng-show="!sentEmail">
               <div class="form-group" id="formNomePop">
                    <span class="pull-right">*campos obrigatórios.</span>
                    <p class="wtxtPop" ng-show="warningNome" id="wtxtNomePop">Digite seu nome</p>
                    <input type="text" class="form-control" placeholder="Nome*" ng-model="form.nome"  ng-focus="focus()">
                </div>
                <div class="form-group" id="formEmailPop">
                    <p class="wtxtPop" ng-show="warningEmail">Digite corretamente seu email</p>
                    <input type="text"  class="form-control" placeholder="Email*" ng-model="form.email" ng-focus="focus()">
                </div>

                <button type="button" class="btn-mult center-block" ng-click="submit()">QUERO RECEBER O MANUAL</button>

                <div class="form-group">
                    <label class="warning center-block" ng-show="warning">
                        <p class="title">NÃO ENVIADO</p>
                        <p>Por favor, revise os campos acima.</p>
                    </label>
                </div>

            </form>
            
            <div class="" ng-show="sentEmail">
                <div class="container" id="msgEnviado">
                    <p class="title">RECEBEMOS SUAS INFORMAÇÕES.</p>
                    <p>Em breve entraremos em contato.</p>
                    <button type="button" class=" center-block btn-mult" ng-click="novoOrcamento()">SOLICITE NOVO ORÇAMENTO</button>
                </div>
                    
            </div>
      </div>
      <div id="cadeado">
          <img src="images/seguro.png" alt="">
          <p>Fique tranquilo! Seus dados estarão seguros conosco.</p>
      </div>
      
      <div ng-click="cancel()" id="closePopup"><i class="glyphicon glyphicon-remove-circle"></i></div>
    </div>
    
    
    
</div>